.d-flex>.spinner-border
{
    margin-top: 20%;   
}

#printButton
{
    background-color: #194287;
}

@media screen and (max-width:1812px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1770px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}


@media screen and (max-width:1765px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1702px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1682px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1672px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1662px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1615px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1605px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1585px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1550px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1500px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1475px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1455px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1425px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1405px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1390px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1380px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1370px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1360px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1350px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1340px)
{
    .d-flex>.spinner-border
    { 
        margin-top: 22%;
    }
}

@media screen and (max-width:1330px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1310px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1300px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1280px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1270px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1250px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1220px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1200px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1180px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1140px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1101px)
{
    .d-flex>.spinner-border
    {
        margin-top: 22%;
    }
}

@media screen and (max-width:1100px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1090px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1080px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1070px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1060px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1050px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1040px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1030px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1020px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1010px)
{
    .d-flex>.spinner-border
    {
        margin-top: 30%;
    }
}

@media screen and (max-width:1000px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}


@media screen and (max-width:990px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}


@media screen and (max-width:980px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}


@media screen and (max-width:970px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}


@media screen and (max-width:960px)
{
    .d-flex>.spinner-border
    {
        margin-top:  32%;
    }
}

@media screen and (max-width:950px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}

@media screen and (max-width:930px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}

@media screen and (max-width:920px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}

@media screen and (max-width:910px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}

@media screen and (max-width:900px)
{
    .d-flex>.spinner-border
    {
        margin-top: 32%;
    }
}

@media screen and (max-width:890px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:880px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:870px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:890px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:880px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:850px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:830px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:820px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:810px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:800px)
{
    .d-flex>.spinner-border
    {
        margin-top: 33%;
    }
}

@media screen and (max-width:680px)
{
    .d-flex>.spinner-border
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:660px)
{
    .d-flex>.spinner-border
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:640px)
{
    .d-flex>.spinner-border
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:620px)
{
    .d-flex>.spinner-border
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:610px)
{
    .d-flex>.spinner-border
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:600px)
{
    .d-flex>.spinner-border
    {
        margin-top: 50%;
    }
}

@media screen and (max-width:590px)
{
    .d-flex>.spinner-border
    {
        margin-top: 50%;
    }
}

@media screen and (max-width:580px)
{
    .d-flex>.spinner-border
    {
        margin-top: 50%;
    }
}

@media screen and (max-width:570px)
{
    .d-flex>.spinner-border
    {
        margin-top: 55%;
    }
}


@media screen and (max-width:560px)
{
    .d-flex>.spinner-border
    {
        margin-top: 55%;
    }
}

@media screen and (max-width:550px)
{
    .d-flex>.spinner-border
    {
        margin-top: 55%;
    }
}

@media screen and (max-width:540px)
{
    .d-flex>.spinner-border
    {
        margin-top: 55%;
    }
}

@media screen and (max-width:530px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:520px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:510px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:500px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:490px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:480px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:470px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:460px)
{
    .d-flex>.spinner-border
    {
        margin-top: 60%;
    }
}

@media screen and (max-width:450px)
{
    .d-flex>.spinner-border
    {
        margin-top: 65%;
    }
}

@media screen and (max-width:440px)
{
    .d-flex>.spinner-order
    {
        margin-top: 65%;
    }
}

@media screen and (max-width:430px)
{
    .d-flex>.spinner-border
    {
        margin-top: 65%;
    }
}

@media screen and (max-width:420px)
{
    .d-flex>.spinner-border
    {
        margin-top: 70%;
    }
}

@media screen and (max-width:410px)
{
    .d-flex>.spinner-border
    {
        margin-top: 70%;
    }
}

@media screen and (max-width:400px)
{
    .d-flex>.spinner-border
    {
        margin-top: 75%;
    }
}

@media screen and (max-width:390px)
{
    .d-flex>.spinner-border
    {
        margin-top: 75%;
    }
}

@media screen and (max-width:380px)
{
    .d-flex>.spinner-border
    {
        margin-top: 80%;
    }
}

@media screen and (max-width:370px)
{
    .d-flex>.spinner-border
    {
        margin-top: 85%;
    }
}

@media screen and (max-width:360px)
{
    .d-flex>.spinner-border
    {
        margin-top: 85%;
    }
}

@media screen and (max-width:350px)
{
    .d-flex>.spinner-border
    {
        margin-top: 90%;
    }
}

@media screen and (max-width:340px)
{
    .d-flex>.spinner-border
    {
        margin-top: 100%;
    }
}

@media screen and (max-width:330px)
{
    .d-flex>.spinner-border
    {
        margin-top: 100%;
    }
}

@media screen and (max-width:320px)
{
    .d-flex>.spinner-border
    {
        margin-top: 100%;
    }
}

@media screen and (max-width:310px)
{
    .d-flex>.spinner-border
    {
        margin-top: 100%;
    }
}
tr {
    width: 100%;

}

tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

#update {
  width: 22%;
  text-align: center;
}

#delete {
    text-align: center;
    width: 20%;
}

#print {
    text-align: center;
    width: 20%;
}

table {
    margin-top: 0.5%;
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-left: 3%;
    width: 90%;
    text-align: left;
    // font-family: arial, sans-serif;
    box-shadow: 5px 8px 38px rgb(14, 67, 240);
}

#header {
    align-self: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-left: 3%;
    background-color: #003082;
    box-shadow: 5px 10px 28px rgba(42, 88, 241, 0.751);
    width: 90%;
    color: rgb(255, 255, 255);
    height: 80px;
}

#headerLabel
{
    position: relative;
    top:15px;
}

tr>td {

    position: relative;
    border: 1px solid rgba(0, 0, 0, .08);
    padding: 1%;
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.buttonID>td:last-child {
    border-collapse: collapse;
    border-right: none;
}

.buttonID
{
    border-left: none;
    
}

.left-column {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 800;
    width: 50%;
}

.right-column {
    position: relative;
    color: rgb(0, 0, 0);
    // font-weight: 800;
    width: 50%;
}

@media screen and (max-width:1700px)
{
   
    .headerText
    {
        vertical-align: auto;
        top:10px;
        
    }
}

@media screen and (max-width:1530px)
{
   
    .headerText
    {
        vertical-align: auto;
        top:10px;
        
    }
}

@media screen and (max-width:1300px)
{
   
    .headerText
    {
        vertical-align: auto;
        top:10px;
    }
}

@media screen and (max-width:1215px)
{
   
    .headerText
    {
        vertical-align: auto;
        top:10px;
    }
}


@media screen and (max-width:1200px)
{
   
    .headerText
    {
        top:2px;
        position: relative;
        vertical-align: auto;

    }
}

@media screen and (max-width:1150px)
{
   
    .headerText
    {
        top:2px;
        position: relative;
        vertical-align: auto;

    }
}


@media screen and(max-width:1100.9px)
{
    .headerText
    {
        top:10px;
        text-align: center;
        
    }
}

@media screen and (max-width:727px)
{
   
    .headerText
    {
        top:11px;
        position: relative;
        vertical-align: auto;

    }
}



@media screen and (max-width:1050px)
{
    #update {
        width: auto;
        text-align: center;
      }
      
      #delete {
          text-align: center;
          width: auto;
      }
      
      #print {
          text-align: center;
          width: auto;
      }
}

@media screen and (max-width:595px)
{
    #update {
        width: auto;
        text-align: center;
        font-size: small;
      }
      
      #delete {
          text-align: center;
          width: 10%;
          font-size: small;
      }
      
      #print {
          text-align: center;
          width: 10%;
          font-size: small;
      }
}

@media screen and (max-width:591px)
{
    #update {
        width: auto;
        text-align: center;
        font-size: small;
      }
      
      #delete {
          text-align: center;
          width: 10%;
          font-size: small;
      }
      
      #print {
          text-align: center;
          width: 10%;
          font-size: small;
      }
}

@media screen and (max-width:563px)
{
    #update {
      position: relative;
      width:30%;
      }
      
      #delete {
       position: relative;
       width: 7%;

      }
      
      #print {
      position: relative;
        width:7%;
      }
}

@media screen and (max-width:553.9px)
{
    #update 
    {
        width:1rem;
        
    }
        
    #delete 
    {
        width:1rem;
    }
        
    #print 
    {
        width:1rem;
    }
}

@media screen and (max-width:545px)
{
    #update 
    {
        padding:0.1%;
        z-index: 4;
        
    }
        
    #delete 
    {
        position: absolute;
        font-size: small;
        padding:0.001%;
        z-index: 4;
    }
        
    #print 
    {
        padding:0.1%;
        z-index: 4;
    }
}

@media screen and (max-width:421px)
{
    .main-table div table tr td
    {
        font-size: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width:391px)
{

    .main-table div table tr td
    {
        font-size: 11px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #update 
    {
        padding: 0px;
        margin-left: -1px;
        width: 52px!important;
        min-width: unset!important;
        font-size: 11px
    }
        
    #delete 
    {
        padding: 0px;
        margin-left: -6px;
        width: 49px!important;
        min-width: unset!important;
        font-size: 11px
    }
        
    #print 
    {
        padding: 0px;
        margin-left: -5px;
        width: 50px!important;
        min-width: unset!important;
        font-size: 11px
    }
}



// @media screen and (max-width:363px)
// {
//     .my-class1
//     {
//         width: 40%!important;
//         min-width: unset!important;
//     }
        
//     .my-class2
//     {
//         width: 40%!important;
//       min-width: unset!important;
//     }
        
//     .my-class3
//     {
//         width: 40%!important;
//       min-width: unset!important;
//     }
// }

// @media screen and (max-width:335px)
// {
//     #headerLabel
//     {
//         font-size : x-large;
//     }
    
// }

