<!-- alert -->
<div    class="alert alert-danger " role="alert" class="modal fade" id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog" >
    <div  class="modal-content" id="alert_text"[hidden]="dd" >
    A simple success alert—check it out!<br><br>
    <div  ><button type="button"id="alert_button"data-bs-dismiss="modal" aria-label="Close" (click)="alertfun()">ok</button>
    </div> 
</div>
<div class="modal-content"  style="top:250px"[hidden]="mm">
<mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
</div>
</div>

   
<form [formGroup]="editDataValues"   (ngSubmit)="updateData(1)">
     
    <div id="title">
                       <h5 class="modal-title" id="exampleModalLabel">&nbsp;Edit the details</h5>
                       <button type="button" class="btn-close"  data-bs-dismiss="modal" ></button>
                   
    </div>          
             
   
    <div class="outerDiv" id="outerDiv1">
        <div class="mb-3">
            <label  class="form-label">devType</label>
           &nbsp; <span *ngIf="devTypefun &&devTypefun.invalid">required</span>
            <input  formControlName="DevType" type="text" class="form-control"
                 placeholder="Laptop….">
                
        </div>
        <div class="mb-3">
            <label  class="form-label">DevTypeOther</label>
            &nbsp; <span *ngIf="devTypeOtherfun && devTypeOtherfun.invalid">required</span>
            <input formControlName="DevTypeOther" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">serial</label>
            &nbsp; <span *ngIf="serialfun && serialfun.invalid">required</span>
            <input formControlName="Serial" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">owner</label>
            &nbsp; <span *ngIf="ownerfun &&ownerfun.invalid">required</span>
            <input formControlName="Owner" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">make</label>
            &nbsp; <span *ngIf="makefun && makefun.invalid">required</span>
            <input formControlName="Make" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">model</label>
            &nbsp; <span *ngIf="modelfun && modelfun.invalid">required</span>
            <input formControlName="Model" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">location</label>
            &nbsp; <span *ngIf="locationfun && locationfun.invalid">required</span>
            <input formControlName="Location" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">purchase_date</label>
            &nbsp; <span *ngIf="purchaseDatefun && purchaseDatefun.invalid">required</span>
            <input formControlName="PurchaseDate" type="datetime" class="form-control"
                 placeholder="Laptop….">
        </div>
</div>
<div class="outerDiv" id="outerDiv2">
        <div class="mb-3">
            <label  class="form-label">warrantyExpDate</label>
            &nbsp; <span *ngIf="warrantyExpDatefun && warrantyExpDatefun.invalid">required</span>
            <input formControlName="WarrantyExpDate" type="datetime" class="form-control" 
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">ServiceExpDate</label>
            &nbsp; <span *ngIf="serviceExpDatefun && serviceExpDatefun.invalid">required</span>
            <input formControlName="ServiceExpDate" type="datetime" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">size</label>
            &nbsp; <span *ngIf="sizefun && sizefun.invalid">required</span>
            <input formControlName="Size" type="text" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">toner</label>
            &nbsp; <span *ngIf="tonerfun && tonerfun.invalid">required</span>
            <input formControlName="Toner" type="email" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">value</label>
            &nbsp; <span *ngIf="valuefun && valuefun.invalid">required</span>
            <input formControlName="Value" type="email" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">MacAddress</label>
            &nbsp; <span *ngIf="MacAddressfun && MacAddressfun.invalid">required</span>
            <input formControlName="MacAddress" type="email" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">IPAddress</label>
            &nbsp; <span *ngIf="IPAddressfun && IPAddressfun.invalid">required</span>
            <input formControlName="IPAddress" type="email" class="form-control"
                 placeholder="Laptop….">
        </div>
        <div class="mb-3">
            <label  class="form-label">CellNumber</label>
            &nbsp; <span *ngIf="CellNumberfun &&CellNumberfun.invalid">required</span>
            <input formControlName="CellNumber" type="email" class="form-control"
                 placeholder="Laptop….">
        </div>
                      
                   <div class="modal-footer" >
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       <button type="button"[disabled]="editDataValues.invalid" class="btn btn-primary" data-bs-dismiss="modal" type="submit"
                           value="Submit" aria-label="Close"data-bs-toggle="modal" data-bs-target="#staticBackdrop">Save changes</button>
                   </div>
               </div>
                  
            
       
   </form>
   
   