.outerDiv {
    width: 48%;
    float: left;
    padding: 15px;
    box-shadow: 5px 5px 10px 0px rgb(211, 243, 226);
    margin-bottom: 6px;
    height: 750px
}

#outerDiv1 {
    background-color: rgb(150, 235, 186);
}

#outerDiv2 {
    background-color: rgb(232, 253, 237);
}

#exampleModalLabel {
    width: 80%;
    float: left;
    color: rgb(236, 131, 131);
}
#but{
    float: right;
    background-color: red;
    padding:.4%;
    margin-top: 6px;
}
#title {
    width: 96%;
    border: solid rgb(64, 158, 36) 2px;
    // box-shadow:0px 2px 15px 0px rgb(44, 6, 234);
    box-shadow: 0px 10px 15px 0px rgb(4, 245, 57);

}

span {
    color: red;
}
h4{
    background-color: rgb(8, 199, 78);margin: 0%;padding: 0%;border-radius: inherit;
}
.modal-footer>button {
    margin-left: 2%;
    font-size: xx-small;
    padding: none;
    width: fit-contents;
}

#alert_text {
   border-radius: 0%;
    padding: 0px;
    width: fit-content;
    color: rgb(27, 27, 10);
    box-shadow: 2px 2px 5px 1px rgb(183, 225, 66);
    position: fixed;
}

#alert_button {
    width: fit-content;
    background: rgb(34, 225, 34);
    color: rgb(16, 5, 5);
    border: 1px solid rgb(19, 8, 8);
}
#alert_button:hover{
    background-color: aqua;
    color: red;
    border-color: red;
   
}

@media screen and(max-width:500px) {
    .outerDiv {
        width: none;
        float: left;
        padding: 3%;
        box-shadow: none;
        margin-bottom: 0%;
        height: 0%;
        
        
    }
    #exampleModalLabel {
        width: 70%;
        float: left;
        margin-top: 1%;;
        
        
    }
    #title {
        margin-top: 30px;
       
    
    }
        
       
    
 
#outerDiv1 {
    background-color: rgb(232, 253, 237);

    width: 96%;
    
}

#outerDiv2 {
    background-color: rgb(232, 253, 237);
    clear: both;
    width: 96%;
}


}