
#closeBtn
{
    background-color: crimson;
    font-size: initial;
    width: 112px;
    height: 30px;
    padding: 0.01px;
}

#saveBtn
{
    font-size: initial;
    width: 112px;
    height: 30px;
    padding: 0.01px;
    background-color: blue;
}

@media screen and (max-width:587px)
{
    #closeBtn
{
    background-color: crimson;
    font-size: initial;
    width: 110px;
    height: 30px;
    padding: 0.01px;
}

#saveBtn
{
    font-size: initial;
    width: 112px;
    height: 30px;
    padding: 0.01px;
    background-color: blue;
}
}

@media screen and (max-width:583px)
{
    #closeBtn{
        background-color: crimson;
        font-size: initial;
        width: 106px;
        height: 30px;
        padding: 0.01px;
    }
    
    #saveBtn{
        font-size: initial;
        width: 110px;
        height: 30px;
        padding: 0.01px;
        background-color: blue;
    }
}

@media screen and (max-width:569px)
{
    #closeBtn{
        background-color: crimson;
        font-size: initial;
        width: 100px;
        height: 30px;
        padding: 0.01px;
    }
    
    #saveBtn{
        font-size: initial;
        width: 110px;
        height: 30px;
        padding: 0.01px;
        background-color: blue;
    }
}

@media screen and (max-width:555px)
{
    #closeBtn{
        background-color: crimson;
        font-size: initial;
        width: 90px;
        height: 30px;
        padding: 0.01px;
    }
    
    #saveBtn{
        font-size: initial;
        width: 110px;
        height: 30px;
        padding: 0.01px;
        background-color: blue;
    }
}

@media screen and (max-width:532px)
{
    #closeBtn{
        background-color: crimson;
        font-size: initial;
        width: 80px;
        height: 30px;
        padding: 0.01px;
    }
    
    #saveBtn{
        font-size: initial;
        width: 110px;
        height: 30px;
        padding: 0.01px;
        background-color: blue;
    }
}

@media screen and (max-width:509px)
{
    #closeBtn{
        background-color: crimson;
        font-size: initial;
        width: 70px;
        height: 30px;
        padding: 0.01px;
    }
    
    #saveBtn{
        font-size: initial;
        width: 110px;
        height: 30px;
        padding: 0.01px;
        background-color: blue;
    }
}

@media screen and (min-width:330px)
{
    #alert_text 
    {
        border-radius: 0px;
        position: relative;
        padding: 0px;
        text-align: center;
        margin-left: 15%;
        margin-top: 86%;
        width: fit-content;
        color: #1b1b0a;
        box-shadow: 2px 2px 5px 1px #b7e142;
    }
}

.outerDiv {
    width: 48%;
    float: left;
    padding: 15px;
    box-shadow: 5px 5px 10px 0px rgb(211, 243, 226);
    margin-bottom: 6px;
    height: 750px
}

#outerDiv1 {
    background-color: rgb(150, 235, 186);
}

#outerDiv2 {
    background-color: rgb(232, 253, 237);
}

#exampleModalLabel {
    width: 80%;
    float: left;
    color: rgb(236, 131, 131);
}
#but{
    float: right;
    background-color: red;
    padding:.4%;
    margin-top: 6px;
}
#title {

    width: 96%;
    border: solid rgb(255, 255, 255) 2px;
    // box-shadow:0px 2px 15px 0px rgb(44, 6, 234);
    box-shadow: 0px 10px 15px 0px rgb(4, 245, 57);
    margin-top: 10px;
}

span {
    color: red;
}
h4{
    background-color: rgb(8, 199, 78);
    margin: 0%;
    padding: 0%;
    border-radius: inherit;
}
.modal-footer>button {
    margin-left: 2%;
    font-size: xx-small;
    padding: none;
    width: fit-contents;
}
#button_id{
   background-color: rgb(7, 189, 95);
}
#alert_text {
    border-radius: 0px;
    position: relative;
    padding: 0px;
    text-align: center;
    margin-left: 30%;
    margin-top: 67%;
    width: fit-content;
    color: #1b1b0a;
    box-shadow: 2px 2px 5px 1px #b7e142;
    
}

#alert_button {
    width: fit-content;
    background: none;
    color: white;
    border: 1px solid white;
}
#alert_button:hover{
    background-color: aqua;
    color: red;
    border-color: red; 
}

@media screen and(max-width:500px) {
    .outerDiv {
        width: none;
        float: left;
        padding: 3%;
        box-shadow: none;
        margin-bottom: 0%;
        height: 0%;
        
        
    }
    #exampleModalLabel {
        width: 70%;
        float: left;
        margin-top: 1%;;
        
        
    }
    #title {
        margin-top: 30px;
       
    
    }
        
       
    
 
#outerDiv1 {
    background-color: rgb(232, 253, 237);

    width: 96%;
    
}

#outerDiv2 {
    background-color: rgb(232, 253, 237);
    clear: both;
    width: 96%;
}
}