<ng-container *ngIf="condition.length !=0">
    <mat-form-field style="width:100%;" id="field" appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Laptop…" #input>
    </mat-form-field>


    <!-- material table for getting all data -->
    <div class="mat-elevation-z8" style="width:fit-content;">
        <table mat-table [dataSource]="dataSource" matSort>


            <!-- Display Product name-->
            <ng-container matColumnDef="DevType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let row"> {{row.DevType}}</td>
            </ng-container>

            <!-- Display Owner name-->
            <ng-container matColumnDef="Owner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
                <td mat-cell *matCellDef="let row" >{{row.Owner}}</td>
            </ng-container>

            <!-- Display Product location  name-->
            <ng-container matColumnDef="Location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let row"> {{row.Location}} </td>
            </ng-container>
            <!-- button for add new data -->
            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef>
                    <button type="button" class="btn btn-primary"  routerLink="/productForm">
                        Add new data
                    </button>
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- Edit column for Edit any particular data -->
                    <div>
                        <button type="button" class="btn btn-warning" routerLink="editFrom/{{row.DevId}}"  >
                            Edit
                        </button>
                        <!-- Delete column for Delete any particular data -->
                        <button type="button" (click)="deleteUser(row.DevId)" class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Delete
                        </button>
                    </div>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator  id="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</ng-container>



<!-- if there is no data then it show  -->
<ng-container *ngIf="condition.length==0">

    <!-- Button trigger modal -->
    <div id="mod">
        <h4>There is no any data.</h4>
        <img src="https://demo.learncab.com/assets/images/no-data-found.png" alt="">
        <button type="button" class="btn btn-primary"routerLink="/productForm" >
            Add new data
        </button>
    </div>
   </ng-container>

   
<!-- alert -->
<div    class="alert alert-danger " role="alert" class="modal fade" id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog" >
    <div  class="modal-content" id="alert_text"[hidden]="dd" >
    A simple success alert—check it out!<br><br>
    <div  ><button type="button"id="alert_button"data-bs-dismiss="modal" aria-label="Close" (click)="alertfun()">ok</button>
    </div> 
</div>
<div class="modal-content"  style="top:250px"[hidden]="mm">
<mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
</div>
</div>
  