#modalDelete
{
  background-color: #ff2828;
  width: 79px;
  height: 42px;
  box-shadow: 1px 2px 15px 1px #ffffff;
}

#modalDelete:hover
{
  background-color:rgb(0, 255, 26);
}

@media screen and(max-width:1501px)
{
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  #addNewData
  {
    width: 200px;
    height: 40px;
  }
  #editButton
  {
    background-color: darkcyan;
  }
}

@media screen and(max-width:1485.9px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  #addNewData
  {
    width: 195px;
    height: 40px;
  }
}

@media screen and(max-width:1472px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  #addNewData
  {
    width: 195px;
    height: 40px;
  }
}

@media screen and(max-width:1462px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  #addNewData
  {
    width: 195px;
    height: 40px;
  }
}

@media screen and(max-width:1461px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 195px;
    height: 40px;
  }
}

@media screen and(max-width:1451px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
  }
  #addNewData
  {
    width: 190px;
    height: 40px;
  }
}

@media screen and(max-width:1437.9px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 185px;
    height: 40px;
  }
}

@media screen and(max-width:1412.9px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 180px;
    height: 40px;
  }
}

@media screen and(max-width:1387px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 175px;
    height: 40px;
  }
}

@media screen and(max-width:1363.9px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 170px;
    height: 40px;
  }
}

@media screen and(max-width:1338.9px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 165px;
    height: 40px;
  }
}

@media screen and(max-width:1313px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 160px;
    height: 40px;
  }
}

@media screen and(max-width:1289px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: 155px;
    height: 40px;
  }
}

@media screen and(max-width:1264px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    margin-left:5px;
    margin-right:0px;
    width:auto;
  }
  #addNewData
  {
    width:150px;
    height:40px;
  }
}

@media screen and(max-width:1239px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    margin-left:5px;
    margin-right:0px;
    width:auto;
  }
  #addNewData
  {
    width:145px;
    height:40px;
  }
}

@media screen and(max-width:1215px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    margin-left:5px;
    margin-right:0px;
    width:auto;
  }
  #addNewData
  {
    width:140px;
    height:40px;
  }
}

@media screen and(max-width:1190px)
{
  #editButton
  {
    background-color: darkcyan;
  }
  #printBtn
  {
    margin-left:5px;
    margin-right:0px;
    width:auto;
  }
  #addNewData
  {
    width:135px;
    height:40px;
  }
}

@media screen and(max-width:1165px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    width:auto;
  }
  #addNewData
  {
    width:130px;
    height:40px;
  }
  #editButton
  {
    background-color: darkcyan;
  }
}

@media screen and(max-width:1158.9px)
{
  #printBtn
  {
    
    margin-left: 5px;
    margin-right: 0px;
    width:auto;
  }
  #addNewData
  {
    width:130px;
    height:38px;
    
  }
  #editButton
  {
    background-color: darkcyan;
    width:90px;
  }
  #deleteButton
  {
    width:90px;
  }
}

@media screen and(max-width:1140.9px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:60px;
  }
  #addNewData
  {
    width:130px;
    height:38px;
  }
}

@media screen and(max-width:1133.9px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:59px;
  }
  #addNewData
  {
    width:129px;
    height:38px;
  }
}

@media screen and(max-width:1123.9px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:58px;
  }
  #addNewData
  {
    width:128px;
    height:38px;
  }
}

@media screen and(max-width:1113.9px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:57px;
  }
  #addNewData
  {
    width:127px;
    height:38px;
  }
}

@media screen and(max-width:1109px)
{
  #editButton
  {
    background-color: darkcyan;
    width:89px;
  }
  #deleteButton
  {
    width:89px;
  }
}

@media screen and(max-width:1103px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:56px;
  }
  #addNewData
  {
    width:126px;
    height:38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width:88px;
  }
  #deleteButton
  {
    width:88px;
  }
}

@media screen and(max-width:1094px)
{
  #printBtn
  {
      margin-left: 5px;
      margin-right: 0px;
      width:55px;
  }
  #addNewData
  {
    width:126px;
    height:38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width:88px;
  }
  #deleteButton
  {
    width:88px;
  }
}

@media screen and(max-width:1089px)
{
  #printBtn
  {
      font-size: large;
      margin-left: 5px;
      margin-right: 0px;
      width:auto;
      font-size: medium;
  }
  #addNewData
  {
    width: auto;
    font-size: medium;
    height:38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width:87px;
  }
  #deleteButton
  {
    width:87px;
  }
}

@media screen and(max-width:1084px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px
  }
  #editButton
  {
    background-color: darkcyan;
    width:85px;
  }
  #deleteButton
  {
    width:85px;
  }
}

@media screen and(max-width:1059px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px
  }
  #editButton
  {
    background-color: darkcyan;
    width:83px;
  }
  #deleteButton
  {
    width:83px;
  }
}

@media screen and(max-width:1039px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 80px;
  }
  #deleteButton
  {
    width: 80px;
  }
}

@media screen and(max-width:1010px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 75px;
  }
  #deleteButton
  {
    width: 75px;
  }
}

@media screen and(max-width:1009px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
}

@media screen and(max-width:990px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
}


@media screen and(max-width:961px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 73px;
  }
  #deleteButton
  {
    width: 73px;
  }
}

@media screen and(max-width:955px)
{
  #printBtn
  {
    font-size: larger;
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: larger;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 73px;
  }
  #deleteButton
  {
    width: 73px;
  }
}

@media screen and(max-width:942px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 72px;
  }
  #deleteButton
  {
    width: 72px;
  }
}

@media screen and(max-width:932px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 71px;
  }
  #deleteButton
  {
    width: 71px;
  }
}

@media screen and(max-width:921px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 70px;
  }
  #deleteButton
  {
    width: 70px;
  }
}

@media screen and(max-width:911px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 69px;
  }
  #deleteButton
  {
    width: 69px;
  }
}

@media screen and(max-width:907px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 58px;
  }
  #addNewData
  {
    width: 86px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 69px;
  }
  #deleteButton
  {
    width: 69px;
  }
}

@media screen and(max-width:906px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 85px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 59px;
  }
  #deleteButton
  {
    width: 59px;
  }
}

@media screen and(max-width:889px)
{
  #addNewData
  {
    width: 82px;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:874px)
{
  #addNewData
  {
    width: 81px;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:869px)
{
  #addNewData
  {
    width: 80px;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:864px)
{
  #addNewData
  {
    width: 79px;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:859px)
{
  #addNewData
  {
    width: 78px;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:857px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 77px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 60px;
  }
  #deleteButton
  {
    width: 60px;
  }
}

@media screen and(max-width:856.9px)
{
  #addNewData
  {
    width: auto;
    height: 38px;
    font-size: small;
  }
}

@media screen and(max-width:852px)
{
  #addNewData
  {
    width: auto;
    height: 38px;
    font-size: small;
  }
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 54px;
  }
}

@media screen and(max-width:845px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 53px;
  }
}

@media screen and(max-width:840px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 52px;
  }
}

@media screen and(max-width:835px)
{
  #printBtn
  {
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
    font-size: inherit;
  }
}

@media screen and(max-width:827px)
{
  #printBtn
  {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 75px;
    font-size: 12px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 56px;
  }
  #deleteButton
  {
    width: 56px;
  }
}

@media screen and(max-width:825px)
{
  #printBtn
  {
    font-size: inherit;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 75px;
    font-size: 12px;
    height: 38px;
  }
}

@media screen and(max-width:815px)
{
  #printBtn
  {
    font-size: 11px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 75px;
    font-size: 12px;
    height: 38px;
  }
}

@media screen and(max-width:805px)
{
  #printBtn
  {
    font-size: 11px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: inherit;
    height: 38px;
  }
}

@media screen and(max-width:797px)
{
  #printBtn
  {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: inherit;
    height: 38px;
  }
}

@media screen and(max-width:793px)
{
  #printBtn
  {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 46px;
  }
  #addNewData
  {
    width: 70px;
    font-size: 11px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 54px;
  }
  #deleteButton
  {
    width: 54px;
  }
}

@media screen and(max-width:768px)
{
  #printBtn
  {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 46px;
  }
  #addNewData
  {
    width: 66px;
    font-size: 10px;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 52px;
  }
  #deleteButton
  {
    width: 52px;
  }
}

@media screen and(max-width:707px)
{
  #printBtn
  {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: smaller;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 52px;
  }
  #deleteButton
  {
    width: 52px;
  }
}

@media screen and(max-width:696px)
{
  #printBtn
  {
    font-size: 8px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: smaller;
    height: 38px;
  }
}

@media screen and(max-width:693px)
{
  #printBtn
  {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 41px;
  }
  #addNewData
  {
    width: auto;
    font-size: smaller;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 51px;
  }
  #deleteButton
  {
    width: 51px;
  }
}

@media screen and(max-width:686px)
{
  #printBtn
  {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 41px;
  }
  #addNewData
  {
    width: auto;
    font-size: smaller;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 50px;
  }
  #deleteButton
  {
    width: 50px;
  }
  #dataColumn
  {
    font-size: small;
  }
}

@media screen and(max-width:681px)
{
  #printBtn
  {
    font-size: 8px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 40px;
  }
}

@media screen and(max-width:677px)
{
  #printBtn
  {
    font-size: 7px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 50px;
  }
  #deleteButton
  {
    width: 50px;
  }
  #dataColumn
  {
    font-size: small;
  }
}

@media screen and(max-width:674px)
{
  #editButton
  {
    background-color: darkcyan;
    width: 49px;
    font-size: small;
  }
  #deleteButton
  {
    width: 49px;
    font-size: small;
  }
  #dataColumn
  {
    font-size: small;
  }
}

@media screen and(max-width:665px)
{
  #editButton
  {
    background-color: darkcyan;
    width: 48px;
    font-size: small;
  }
  #deleteButton
  {
    width: 48px;
    font-size: small;
  }
}

@media screen and(max-width:657px)
{
 #printBtn
  {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 47px;
    font-size: small;
  }
  #deleteButton
  {
    width: 47px;
    font-size: small;
  }
  #dataColumn
  {
    font-size: x-small;
  }
}

@media screen and(max-width:648px)
{
  #printBtn
  {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 37px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
}

@media screen and(max-width:646px)
{
  #editButton
  {
    background-color: darkcyan;
    width: 46px;
    font-size: small;
  }
  #deleteButton
  {
    width: 46px;
    font-size: small;
  }
}

@media screen and(max-width:644px)
{
  #printBtn
  {
    font-size: 8px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 36px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
}

@media screen and(max-width:638px)
{
  #printBtn
  {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 35px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 45px;
    font-size: small;
  }
  #deleteButton
  {
    width: 45px;
    font-size: small;
  }
}

@media screen and(max-width:637px)
{
  #printBtn
  {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 35px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 45px;
    font-size: small;
  }
  #deleteButton
  {
    width: 45px;
    font-size: small;
  }
}

@media screen and(max-width:634px)
{
  #printBtn
  {
    font-size:6px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 34px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 45px;
    font-size: small;
  }
  #deleteButton
  {
    width: 45px;
    font-size: small;
  }
}

@media screen and(max-width:629px)
{
  #printBtn
  {
    font-size:6px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 33px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 44px;
    font-size: small;
  }
  #deleteButton
  {
    width: 44px;
    font-size: small;
  }
}

@media screen and(max-width:625px)
{
  #printBtn
  {
    font-size:6px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 31px;
  }
}

@media screen and(max-width:620px)
{
  #printBtn
  {
    font-size:5px;
    margin-left: 5px;
    margin-right: 0px;
    height: 38px;
    width: 32 px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 43px;
    font-size: small;
  }
  #deleteButton
  {
    width: 43px;
    font-size: small;
  }
}

@media screen and(max-width:615px)
{
  #printBtn
  {
    font-size: 6px;
    margin-left: -1px;
    margin-right: 0px;
    height: 38px;
    width: 36px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 43px;
    font-size: small;
  }
  #deleteButton
  {
    width: 43px;
    font-size: small;
  }
}

@media screen and(max-width:611px)
{
  #printBtn
  {
    font-size: 6px;
    margin-left: -1px;
    margin-right: 0px;
    height: 38px;
    width: 35px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 42px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 42px;
    font-size: x-small
  }
}

@media screen and(max-width:606px)
{
 #printBtn
  {
    font-size: 6px;
    margin-left: -2px;
    margin-right: 0px;
    height: 38px;
    width: 34px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 42px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 42px;
    font-size: x-small
  }
}

@media screen and(max-width:599px)
{
  #editButton
  {
    background-color: darkcyan;
    width: 41px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 41px;
    font-size: x-small
  }
}

@media screen and(max-width:597px)
{
  #printBtn
  {
    font-size: 6px;
    margin-left: -3px;
    margin-right: 0px;
    height: 38px;
    width: 33px;
  }
  #addNewData
  {
    width: auto;
    font-size: xx-small;
    height: 38px;
  }
}

@media screen and(max-width:590px)
{
  #editButton
  {
    background-color: darkcyan;
    width: 40px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 40px;
    font-size: x-small
  }
}

@media screen and(max-width:587px)
{
  #printBtn
  {
    font-size: 6px;
    margin-left: -5px;
    margin-right: 0px;
    height: 38px;
    width: auto;
  }
  #addNewData
  {
    width: 62px;
    margin-left: 1px;
    font-size: xx-small;
    height: 38px;
  }
  #editButton
  {
    background-color: darkcyan;
    width: 39px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 39px;
    font-size: x-small
  }
}

@media screen and(max-width:585px)
{
  #printBtn
  {
    margin-left: -4px;
    margin-right: 0px;
    height: 34px;
    width: auto;
    font-size: smaller;
}
  #addNewData
  {
    width: auto;
    margin-left: -10px;
    font-size: xx-small;
    height: 34px;
  }
}

@media screen and(max-width:575px)
{
  #addNewData
  {
    width: auto;
    margin-left: -13px;
    font-size: xx-small;
    height: 34px;
  }

  #editButton
  {
    background-color: darkcyan;
    width: 38px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 38px;
    font-size: x-small
  }
}

@media screen and(max-width:562px)
{
  #printBtn
  {
    margin-left: -4px;
    margin-right: 0px;
    height: 34px;
    width: auto;
  }
  #addNewData
  {
    width: auto;
    margin-left: -24px;
    font-size: smaller;
    height: 34px;
  }

  #editButton
  {
    background-color: darkcyan;
    width: 37px;
    font-size: x-small
  }
  #deleteButton
  {
    width: 37px;
    font-size: x-small
  }
}

@media screen and(max-width:556px)
{
  #Product_text
  {
    white-space: nowrap;
  }
}

@media screen and(max-width:553px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -21px;
    height: 32px;
    white-space: nowrap;
  }
  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: auto;
  }
  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

@media screen and(max-width:545px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -25px;
    height: 32px;
    white-space: nowrap;
  }
}

@media screen and(max-width:540px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -26px;
    height: 32px;
    white-space: nowrap;
  }
}

@media screen and(max-width:530px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -27px;
    height: 32px;
    white-space: nowrap;
  }
}

@media screen and(max-width:524px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -28px;
    height: 32px;
    white-space: nowrap;
  }
}

@media screen and(max-width:520px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -29px;
    height: 32px;
    white-space: nowrap;
  }
}

@media screen and(max-width:517px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
}
  #addNewData
  {
    width: auto;
    margin-left: -30px;
    height: 32px;
    white-space: nowrap;
  }
  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -9px;
  }
  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

@media screen and(max-width:513px)
{

  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
  }

  #addNewData
  {
    width: auto;
    margin-left: -33px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -9px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

@media screen and(max-width:502px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
  }

  #addNewData
  {
    width: auto;
    margin-left: -35px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -17px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

//500 px and lower
@media screen and(max-width:500px) 
{
  #Product_text,#Owner_text,#Location_text
  {
    font-size: 10px;
  }

  #dataColumn
  {
    font-size: 9px;
  }

  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -35px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -17px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }


 #field 
  {
   width:30%;
   font-size: xx-small;
 }

  table 
  {
     width: 100%;
     height: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  #ngContainer {

   position: relative;
    width: fit-content;
  }

td, th {

   color: rgb(54, 6, 6);
   background-color: rgb(250, 240, 240);
}
   #mod {

     top: 50%;
     left: 50%;
     transform: translate(-45%, -45%);
     text-align: center;
    position: relative;
     z-index: 100;
  }

   th {
    background-color: #003082;
    border: none;
   }

   td {
     border-bottom: 1px;
     border-color: rgb(255, 255, 255);
  }

   //add new + delete
   button {
     margin: 5px;
  }

   .btn-close {
    background-color: red;
  }



  .modal {
    border-radius: none;
    width: 400px;
   }


}

//480 px and lower
@media screen and(max-width:480px) 
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -37px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -20px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

//480 px and lower
@media screen and (max-width:472px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -39px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -22px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

@media screen and (max-width:466px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -42px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -22px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  }
}

@media screen and (max-width:455px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -44px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -26px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:447px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
    
  }

  #addNewData
  {
    width: auto;
    margin-left: -46px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -30px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:438px)
{
  #printBtn
  {
    margin-left: -4px;
    height: 32px;
    width: auto;
  }

  #addNewData
  {
    width: auto;
    margin-left: -47px;
    height: 32px;
    white-space: nowrap;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -30px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:436px)
{

  #printBtn
  {
    margin-left: -2px;
    height: 30px;
    width: 43px;
    padding: 8px;
  }

  #addNewData
  {
    width: 57px;
    margin-left: -44px;
    height: 30px;
    padding-left: 8px;
  }

  #paginator
  {
    font-size: x-small;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:424px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 46px;
  }

  #addNewData
  { 
    width: 52px;
    margin-left: -43px;
    height: 30px;
    padding-left: 5px;
  }
}

@media screen and (max-width:416px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 41px;
    padding-left: 8px;
  }

  #addNewData
  { 
    width: 51px;
    margin-left: -34px;
    height: 30px;
    padding-left: 5px;
  }
}

@media screen and (max-width:413px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 41px;
    padding-left: 8px;
  }

  #addNewData
  { 
    width: 51px;
    margin-left: -35px;
    height: 30px;
    padding-left: 5px;
  }
}

@media screen and (max-width:409px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 41px;
    padding-left: 8px;
  }

  #addNewData
  { 
    width: 51px;
    margin-left: -36px;
    height: 30px;
    padding-left: 5px;
  }
  #paginator
  {
    font-size: 8px;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:405px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 38px;
    padding-left: 7px;
  }

  #addNewData
  { 
    width: 51px;
    margin-left: -34px;
    height: 30px;
    padding-left: 5px;
  }
}

@media screen and (max-width:401px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 38px;
    padding-left: 7px;
  }

  #addNewData
  { 
    width: 51px;
    margin-left: -35px;
    height: 30px;
    padding-left: 5px;
  }
  #Owner_text
  {
    font-size: 9px;
  }
}

@media screen and (max-width:396px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 38px;
    padding-left: 7px;
  }

  #addNewData
  { 
    width: 50px;
    margin-left: -35px;
    height: 30px;
    padding-left: 4px;
  }
}

@media screen and (max-width:392px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 38px;
    padding-left: 7px;
  }

  #addNewData
  { 
    width: 49px;
    margin-left: -36px;
    height: 30px;
    padding-left: 4px;
  }
}

@media screen and (max-width:388px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 31px;
    padding-left: 4px;
  }

  #addNewData
  { 
    width: 49px;
    margin-left: -30px;
    height: 30px;
    padding-left: 4px;
  }
  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -32px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:383px)
{
  #Owner_text
  {
    font-size: 8px;
  }

  #paginator
  {
    font-size: 7px;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:378px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 31px;
    padding-left: 4px;
  }

  #addNewData
  { 
    width: 47px;
    margin-left: -31px;
    height: 30px;
    padding-left: 3px;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -34px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:369px)
{
  #printBtn
  {
    margin-left: -3px;
    height: 30px;
    width: 31px;
    padding-left: 4px;
  }

  #addNewData
  { 
    width: 47px;
    margin-left: -31px;
    height: 30px;
    padding-left: 3px;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -35px;
  }

  #deleteButton
  {
    height: 22px;
    margin-left: auto;
  } 
}

@media screen and (max-width:368px)
{
  #paginator
  {
    font-family: auto;
  }
}

@media screen and (max-width:365px)
{
  #printBtn
  {
    margin-left: -2px;
    height: 30px;
    width: 30px;
    padding-left: 3px;
  }

  #addNewData
  { 
    width: 44px;
    margin-left: -29px;
    height: 30px;
    padding-left: 1px;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -36px;
  }
}

@media screen and (max-width:359px)
{ 
  #Product_text,#Owner_text,#Location_text
  {
    font-size: 9px;
  }

  #printBtn
  {
    margin-left: -4px;
    height: 30px;
    width: 28px;
    padding-left: 2px;
  }

  #addNewData
  { 
    width: 42px;
    margin-left: -28px;
    height: 30px;
    padding-left: 0px;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -37px;
  }
}

@media screen and (max-width:357px)
{
  #paginator
  {
    font-family: auto;
    width: 100%;
    font-size: 6px;
  }

  #printBtn
  {
    margin-left: -4px;
    height: 30px;
    width: 28px;
    padding-left: 2px;
  }

  #addNewData
  { 
    width: 42px;
    margin-left: -28px;
    height: 30px;
    padding-left: 0px;
  }

  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -38px;
  }
  #Product_text,#Owner_text,#Location_text
  {
    font-size: 8px;
  }
}

@media screen and (max-width:349px)
{
  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -39px;
  }

  #dataColumn
  {
    font-size: 7px;
  }

  #Product_text,#Owner_text,#Location_text
  {
    font-size: 7px;
  }
}

@media screen and (max-width:345px)
{
  #paginator
  {
    font-size: 5px;
  }
}

@media screen and (max-width:333px)
{
  #paginator
  {
    min-width: unset!important;
  }
  #editButton
  {
    background-color: darkcyan;
    color: white;
    height: 22px;
    margin-left: -40px;
    width: 32px;
  }
  #deleteButton
  {
    height: 22px;
    margin-left: auto;
    width: 35px;
  } 
}




table 
{
  width: 100%;
}

//search box
#field 
{
  width:30%;
}



//container box
#ngContainer {
  position: relative;
  width: 90%;
}

.mat-form-field {
  width: 100%;

}

td,th {
  width: 25%;
  color: black;
  background-color: white
}

#mod {
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  text-align: center;
  position: fixed;
  z-index: 100;
}

th {
  background-color: #003082;
  border: none;
  color: white;
}

td {
  border-bottom: 1px;
  font-size: medium;
  border-color: rgb(255, 255, 255);
}

button {
  margin: 5px;
  border:1px solid black;
}

.btn-close {
  background-color: red;
}

.btn-warning {
  float: left;
  width: 95px;
  padding: 0%;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  color:white;
  background-color: darkcyan;
  box-shadow: 1px 2px 15px 1px #49c6c6;
}

h4 {
  background-color: rgb(8, 199, 78);
  margin: 0%;
  padding: 0%;
  border-radius: inherit;
}

.btn-danger {
  float: left;
  width: 95px;
  padding: 0%;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgb(255, 40, 40);
  box-shadow: 1px 2px 15px 1px #da4949;
}

#printBtn
{
  box-shadow: 1px 2px 15px 1px #6c9a9d;
}

.btn-primary {
  width: 200px;
  background-color: rgb(76, 29, 247);
  box-shadow: 1px 2px 15px 1px rgb(12, 23, 243);
}

.modal-footer>.btn-primary {
  font-size: small;
  padding: 0;
  height: 40px;
  width: 100px;
  background-color: rgb(76, 29, 247);
  box-shadow: 1px 2px 15px 1px rgb(12, 23, 243);
}
//1100 px and lower
// @media screen and(max-width:1100px) {
  
//   table {
//     width: 100%;
//   }

//   #field 
//   {
//     width:30%;
//   }

//   #ngContainer {
//     position: relative;
//     width: 90%;
//   }

// }

// //520 px and lower
// @media screen and(max-width:520px) {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: x-small;
//   }
//   #Owner_text
//   {
//     font-size: x-small;
//   }
  
//   #Location_text
//   {
//     font-size: x-small;
//   }

//   #ngContainer {
//     position: relative;
//     width: fit-content;
//   }
// }



// @media screen and(max-width:465px)
// {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: xx-small;
//   }
//    #Owner_text
//   {
//     font-size: xx-small;
//   }
  
//   #Location_text
//   {
//     font-size: xx-small;
//   }
// }

// @media screen and(max-width:438px)
// {

//   #field 
//   {
//     width:30%;
//   }

//    #Product_text
//   {
//     font-size: xx-small;
//   }
//    #Owner_text
//   {
//     font-size: xx-small;
//   }
  
//   #Location_text
//   {
//     font-size: xx-small;
//   }
// }

// @media screen and(max-width:437.9px)
// {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: 8px;
//   }
//     #Owner_text
//   {
//     font-size: 8px;
//   }
  
//   #Location_text
//   {
//     font-size: 8px;
//   }
// }
// //407.9 px and lower
// @media screen and(max-width:407.9px)
// {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: 8px;
//   }
//     #Owner_text
//   {
//     font-size: 8px;
//   }
  
//   #Location_text
//   {
//     font-size: 8px;
//   }
// }
// //406.9 px and lower
// @media screen and(max-width:406.9px)
// {
//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: 7px;
//   }
//   #Owner_text
//   {
//     font-size: 7px;
//   }
  
//   #Location_text
//   {
//     font-size: 7px;
//   }
// }
// //401.9 px and lower
// @media screen and(max-width:401.9px)
// {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: 7px;
//   }
//   #Owner_text
//   {
//     font-size: 7px;
//   }
  
//   #Location_text
//   {
//     font-size: 7px;
//   }
// }
// @media screen and(max-width:400.9px)
// {
//   #Product_text
//   {
//     font-size:6px;
//   }
//   #Owner_text
//   {
//     font-size: 6px;
//   }
  
//   #Location_text
//   {
//     font-size: 6px;
//   }

//   #field 
//   {
//     width:30%;
//   }
  
// }


// //400 px and lower
// @media screen and(max-width:400px) {

//   #field 
//   {
//     width:30%;
//   }

//   #Product_text
//   {
//     font-size: 6px;
//   }
//   #Owner_text
//   {
//     font-size: 6px;
//   }
  
//   #Location_text
//   {
//     font-size: 6px;
//   }

//   .mat-elevation-z8 {
//     width: 338px;
//   }

//   .fade {
//     width: 90%;
//   }
// }

 span {
  color: red;
}

td:hover {
 color: rgb(157, 0, 255);
  font-size: large;
  cursor: pointer;
 }

button:hover {
  color:black;
  font-size: medium;
  background-color:rgb(0, 255, 26);
}

img {
  width: 25%;
  height: 25%;
}

#button_id {
   background-color: rgb(7, 189, 95);
 }

 #alert_text {
  border-radius: 0px;
  position: relative;
  padding: 0px;
  text-align: center;
  margin-left: 30%;
  margin-top: 67%;
  width: fit-content;
  color: #1b1b0a;
  box-shadow: 2px 2px 5px 1px #b7e142;
  
}

#alert_button {
  width: fit-content;
   background: none;
  color: white;
   border: 1px solid white;
 float: right;
}

#alert_button:hover {
  background-color: aqua;
 color: red;
  border-color: red;

}

.spinner-border {
  top: 50%;
  left: 50%;
   position: fixed;
}

