

<mat-toolbar>
   
    <span style="color:white">Inventory</span>
    <span class="example-spacer"></span>
    
    
  </mat-toolbar>
  
  <div class="buttons">
    <span>Home</span><span>Blogs</span><span>Contact us</span><span>About us</span><span>Feedback</span>
 </div>
  <!-- side-nav -->
<span class="s">

    <mat-drawer-container class="example-container">
    <mat-drawer class="side_nav" mode="side" opened>
     
      <div class="buttons1 animate__animated animate__backInLeft" >
        <div>Home</div><div>Blog</div><div>Contact us</div><div>About us</div><div>Feedback</div>
     </div>
    </mat-drawer>
  </mat-drawer-container>
  
<div class="outlet ">
  <router-outlet></router-outlet>
 </div>

</span> 


